NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_public_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
ADMIN_SECRET=ek_lamba_random_string_banao
HF_TOKEN=your_huggingface_token
HF_USERNAME=your_huggingface_username